* {
  font-family: Arial;
}
h1 {
  text-align: center;
}
input,
select {
  font-size: 1em;
}
.kw-wrapper {
	width: 60%;
	min-width: 1024px;
	display: block;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 64em) {
  .kw-wrapper {
    width: 100%;
    min-width: 360px;
    padding: 0 .5em;
  }
}
.kw-analyser { 
	background: #000000; 
	width: 100%;
}
.kw-controls {
	display: block;
  margin: 0 auto;
	width: 60%;
	background: #d1d1de;
	padding: 1em;
	border: 1px solid #000;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
@media (max-width: 64em) {
  .kw-controls {
    width: auto;
    padding: 1em 0;
  	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 .5em;
  }
}
.kw-controls input {
  padding: .5em;
  border: 1px solid #000;
}
.kw-highlight {
  position: relative;
}
.kw-highlight .kw-highlight-input {
  position: absolute;
  width: 80%;
  padding: .5em;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  pointer-events: none;
  border: 1px solid transparent;
}
.kw-highlight .kw-highlight-input span {
  background-color: yellow;
}
.kw-controls input:hover {
  background: #d2d2d2;
}
.kw-controls input[type="text"] {
  width: 80%;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
.kw-controls select {
  width: 77.4%;
  padding: .4em .2em;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #000;
}
@media (max-width: 64em) {
  .kw-controls input[type="text"] {
    width: auto;
  }
  .kw-controls select {
    width: 60%;
  }
}
.kw-clip-list {
  background: #f3f3f3;
  border: 1px solid #a1a1a1;
  width: 60%;
  display: block;
  margin: .5em auto 0;
  padding: 1em;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.kw-clip-list p {
  text-align: center; 
}
@media (max-width: 64em) {
  .kw-clip-list {
    width: auto;
    margin: .5em .5em 0;
    border: 1px solid #aaa;
  }
}
.kw-clip {
  position: relative;
  padding-bottom: 2em;
}
.kw-clip .kw-clip-canvas {
  background: #000;
  max-width: 100%;
  height: 80px
}
.kw-clip .kw-clip-canvas-crop {
  position: absolute;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
}
.kw-clip-progress {
  height: 80px;
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  background: silver;
  z-index: 10;
}
.kw-clip audio {
  width: 100%;
}
.kw-clip-controls {
  
}
.kw-controls > form {
  margin-bottom: .25em;
}
.kw-controls > form:first-child input[type="submit"] {
  min-width: 4.5em;
}
.kw-form-connect input {
  width: 5%;
}
.kw-clip-storage-controls,
.kw-clip-delete-controls,
.kw-clip-crop-controls {
  display: inline-block;
}
.kw-clip-storage-controls input,
.kw-clip-delete-controls input,
.kw-clip-crop-controls input {
  padding: .5em;
  border: 1px solid #000;
}
.kw-clip-storage-controls input:hover,
.kw-clip-delete-controls input:hover,
.kw-clip-crop-controls input:hover {
  background: #d2d2d2;
}
.kw-clip-controls .kw-clip-storage-controls,
.kw-clip-controls .kw-clip-delete-controls,
.kw-clip-controls .kw-clip-crop-controls, 
.kw-clip-controls input {
  vertical-align: middle;
}
@media (max-width: 64em) {
  .kw-clip-storage-controls,
  .kw-clip-delete-controls,
  .kw-clip-crop-controls {
    width: 50%;
  }
}


